
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
 
}

.employee-page {
  padding: 20px;
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  margin-left: 25vh;
  
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.search-bar {
  padding: 8px 16px;
  font-size: 1rem;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}


.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table th, .employee-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employee-table th {
  background-color: #f8f8f8;
  color: #333;
}

.employee-table tr:hover {
  background-color: #f1f1f1;
}

.edit-button, .delete-button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #ffa500;
  color: white;
  margin-right: 8px;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.edit-button:hover {
  background-color: #e69500;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.modal-form input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.submit-button, .cancel-button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
}

.submit-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.modal-form input:focus {
  border-color: #4caf50;
}


@media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }

  .employee-table th, .employee-table td {
    font-size: 0.9rem;
    padding: 8px;
  }

  .add-button {
    width: 100%;
    font-size: 1.2rem;
  }

  .modal {
    width: 90%;
  }
}
