
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.leave-page {
  padding: 20px;
  height: 100vh;
  max-width: 1200px;
  width: 70vw;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}


.search-bar {
  margin-bottom: 20px;
}

.search-input {
  padding: 8px 16px;
  font-size: 1rem;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-leave-btn {
  padding: 10px 20px;
  background-color: #4079ab;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-leave-btn:hover {
  background-color: #45a049;
}


/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-actions button:hover {
  background-color: #ddd;
}

/*  */
.leave-form {
  margin-bottom: 20px;
}

.leave-form input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.leave-form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1363a0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.leave-form button:hover {
  background-color: #377598;
} 

.leave-title{
  color: black;
}

.leave-requests {
  
  margin-bottom: 20px;
}

.leave-requests table {
  color: black;
  width: 100%;
  border-collapse: collapse;
}

.leave-requests th, .leave-requests td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.leave-requests th {
  background-color: #f8f8f8;
}

.leave-requests tr:hover {
  background-color: #f1f1f1;
}

.leave-requests td {
  font-size: 1rem;
}

.leave-requests a {
  text-decoration: none;
  color: #007bff;
}

.calendar-section {
  margin-top: 40px;
}

.calendar {
  color: black;
  margin-top: 20px;
}

.calendar-days {
  display: flex;
  
  flex-wrap: wrap;
}

.calendar-day {
  padding: 10px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .leave-form input,
  .leave-form button {
    width: 100%;
  }
}
